Package: frp
Architecture: arm
Priority: optional
Section: net
Version: 0.61.0
OptionalUtility:
Maintainer: fatedier
Source: https://github.com/fatedier/frp
URL:
Description: A fast reverse proxy to help you expose a local server behind a NAT or firewall to the internet.
Depends: start-stop-daemon
Suggests:
Conflicts:
Enabled: yes
